<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<div th:replace="head :: head"></div>
<body>
<div th:replace="menu :: menu"></div>
	<div layout:fragment="content">
	
	<h3>Detalhes do Evento</h3>
	
		<div th:each="evento :${evento}" class="container">
			<div class="row">
				<div class="col-sm">
					<p>Id: <span th:text="${evento.id}"></span> </p> 
					<p>Nome: <span th:text="${evento.nome}"></span> </p>
					<p>Local: <span th:text="${evento.local}"></span> </p>
					<p>Data: <span th:text="${evento.data}"></span> </p>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>