<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menu :: menu"></div>

	<main class="container">
		<div class="bg-light p-5 rounded">

			<form th:object="${tarefa}" th:action="@{/tarefa/save/}"
				method="POST">
				<input type="hidden" th:field="${tarefa.id}" th:if="${tarefa.id}" />
				<h3>Cadastro das Tarefas</h3>
							
				<div class="form-row">
				<div class="form-group col-md-4">   		 
   			    <label for="turma">Turma</label>
   			   
	                        <select id="turma" path= "turma"  class="form-control" th:field="*{turma}" >
	                            <option value="" >Selecione</option>
	                             
	                           <option th:each="t : ${turmas}" 
	                                   th:value="${t.id}" th:text="${t.descricao}" >Administração</option>
	                        </select>
				</div>		
										
   			 <div class="form-group col-md-4">   		 
   			 <label for="disciplina">Disciplina</label>
	                        <select id="disciplinaId" path= "disciplina"  required="required" class="form-control" th:field="*{disciplina}">
	                            <option value="" >Selecione</option>
	                            <option th:each="d : ${disciplinas}"
	                             th:value="${d.id}" th:text="${d.descricao}">Administração</option>
	                        </select>
				</div>
				<div class="col-4">
						<label for="nome">Local </label> <input type="text"
							class="form-control" id="local" placeholder="plataforma"
							autofocus="autofocus" th:field="*{local}"
							th:classappend="${#fields.hasErrors('local')} ? 'is-invalid'" />
				</div>
				</div>

				<div class="form-row">
					<div class="col-8">
						<label for="labelTituloInput">Descricao:</label>
						<textarea
							type="text" class="form-control" id="descricao"
							placeholder="descricao" autofocus="autofocus" rows="5" required
							th:field="*{descricao}"
							th:classappend="${#fields.hasErrors('descricao')} ? 'is-invalid'" >
						</textarea>
					</div>		
				</div>			

				<div class="form-row">									
					
						<div class="form-group col-md-4">  
							<label for="nome">Data Inicio </label> <input type="date"
								class="form-control" id="dataInicio" placeholder="Data"
								autofocus="autofocus" th:field="*{dtCriacaoTarefa}"
								th:classappend="${#fields.hasErrors('dtCriacaoTarefa')} ? 'is-invalid'" />
						</div>

						<div class="form-group col-md-4">  
							<label for="date">Data Termino </label> <input type="text"
								class="form-control" id="dataTermino" placeholder="Data"
								autofocus="autofocus" th:field="*{dtFinalizacaoTarefa}"
								th:classappend="${#fields.hasErrors('dtFinalizacaoTarefa')} ? 'is-invalid'" />
						</div>
						
						<div class="form-group col-md-4">   		 
   			              <label for="statusTarefa">Status</label>
	                        <select id="statusTarefa" path= "statusTarefa" class="form-control" th:field="${tarefa.statusTarefa}">
	                            <option value="" >Selecione</option>
	                            <option
									th:each="s: ${T(br.edu.ifpr.app.sae.model.StatusTarefa).values()}"
									th:text="${s.name()}" th:value="${s.name()}"></option>
	                        </select>
				</div>
				</div>
									
				<div class="form-row" style="float:right;" >
					<div class="col">
						<button class="btn btn-primary mb-2" type="submit">Salvar</button>
					</div>
				</div>
				</div>
				<br>
			</form>
		</div>
	</main>

	<div th:replace="footer :: footer"></div>
	
	<script>
 document.getElementById("turma").onchange = function(){
    var value = document.getElementById("turma").value;
 };
</script>

</body>
</html>