<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>	
</head>
<body>
<!-- Conteúdo -->	
	<div layout:fragment="content">
		<h3>Inserir Disciplina</h3>
		
		<form method="post">
			<div class="form-group" >
				<label for="labelNomeInput">Nome:</label> 
				<input class="form-control" type="text" name="nome" value=""> 
						
							
			</div>					
						
			
			<button class="btn btn-primary mb-2" type="submit">Salvar</button>
	
		</form>
	</div>
</body>
</html>