<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menu :: menu"></div>


	<main class="container">
		<div class="bg-light p-5 rounded">	
	

		 <form th:object="${servidor}" th:action="@{/servidor/save/}" method="POST">
		  <input type="hidden" th:field="${servidor.id}" th:if="${servidor.id}" />
			<h3>Cadastro de Servidor</h3>
			
			<div class="row">
				<div class="col">
					<label for="nome">Matricula do Servidor</label>
				   		<input type="text" class="form-control" id="matricula" placeholder="Matricula do Servidor"
							autofocus="autofocus" th:field="*{matricula}"
							th:classappend="${#fields.hasErrors('matricula')} ? 'is-invalid'" />
				</div>
			
				<div class="col-8">
					<label for="nome">Nome:</label> 
				  		<input type="text" class="form-control" id="nome" placeholder="Nome Completo"
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? 'is-invalid'" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-4">
					<label for="cpf">Cpf do Servidor</label>
				   		<input type="text" class="form-control" id="cpf" placeholder="Cpf do Servidor"
							autofocus="autofocus" th:field="*{cpf}"
							th:classappend="${#fields.hasErrors('cpf')} ? 'is-invalid'" />
				</div><p></p>
				
				<div style="width:15px;"></div>
				
				<div class="row">
					<div class="col">
						<label for="nome">Telefone Servidor:</label>
						<input type="text" class="form-control" id="celular" placeholder="celular"
							autofocus="autofocus" th:field="*{telefone.celular}"
							th:classappend="${#fields.hasErrors('telefone.celular')} ? 'is-invalid'" />
					</div>				
				</div>	
			</div>
			
			<div class="col">
 				<br>
 				<div class="row">
 				<p><label for="nome">Cargo</label>
					<select class="browser-default" th:field="*{cargo}" id="cargo">
						 <option th:each = "c : ${T(br.edu.ifpr.app.sae.model.Cargo).values()}"
						 th:value = "${c.valor}" th:text = "${c.nome}"/>
					</select></p>
				</div>
			</div>
		
			<input	type="hidden" id="telefone.id" th:field="*{telefone.id}" />
			<br>
			<button class="btn btn-primary mb-2" type="submit">Salvar</button>
			<br>
		</form>
		</div>
	</main>

	<div th:replace="footer :: footer"></div>

</body>
</html>