<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
</head>

<body>
	<!-- Conteúdo -->
	<div layout:fragment="content">
	
	<h3>Detalhes do Evento</h3>
	
		<div th:each="evento :${evento}" class="container">
			<div class="row">
				<div class="col-sm">
					<p>Id: <span th:text="${evento.id}"></span> </p> 
					<p>Nome: <span th:text="${evento.nome}"></span> </p>
					<p>Local: <span th:text="${evento.local}"></span> </p>
					<p>Data: <span th:text="${evento.data}"></span> </p>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>