<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout}" >
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html;"/>
	
</head>
<body>
	
	<!-- Conteúdo -->
	<div layout:fragment="content">
		<div class="page-header">
			<h2>Bem vindo!</h2>
			<b><c:out value="${pageContext.request.remoteUser}"/></b>
			<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            	 <span sec:authentication="name"></span> 					
            	 <span sec:authentication="principal.authorities"></span>
            	<br/>
            	<sec:authorize access="hasRole('ADMIN')">
				
				</sec:authorize>				
        	</div>
        
		</div>
	</div>

</body>
</html>