<!DOCTYPE html>
<html	
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    
	<!-- Bootstrap CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	
	<!-- Icons Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
	<!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

	<!-- FavIcon -->	
	<link rel="icon" th:href="@{/image/book.ico}">

	<title>Sistema de Agenda Escolar</title>
</head>

<body>
	<header>
		<!-- Navegação -->
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0378C5">
			<a class="navbar-brand" th:href="@{/}">Sistema de Agenda </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarSupportedContent" 
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				
				<li class="nav-item dropdown">
						<a	class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false"> Alunos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/alunos/new}">Cadastrar</a> 
							<a class="dropdown-item" th:href="@{/alunos/list}">Listar</a>
						</div>
					</li>
					
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Servidores</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/servidores/new}">Cadastrar Servidor</a> 
							<a class="dropdown-item" th:href="@{/servidores/list}">Listar Servidores</a>
							
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Tarefas</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/agendas/new}">Cadastrar Tarefa</a>							
							<a class="dropdown-item" th:href="@{/agendas/list}">Listar Tarefa</a>
					
						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Configurações</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/cursos/new}">Cadastrar Curso</a> 
							<a class="dropdown-item" th:href="@{/cursos/list}">Listar Curso</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/turmas/new}">Cadastrar Turma</a> 
							<a class="dropdown-item" th:href="@{/turmas/list}">Listar Turma</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/disciplinas/new}">Cadastrar Discipliba</a> 
							<a class="dropdown-item" th:href="@{/disciplinas/list}">Listar Disciplina</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">Administração</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" th:href="@{/usuarios/new}">Cadastrar Usuário</a> 
							<a class="dropdown-item" th:href="@{/usuarios/list}">Listar Usuários</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" th:href="@{/roles/new}">Cadastrar Permissões</a> 
							<a class="dropdown-item" th:href="@{/roles/list}">Listar Permissões</a>
						</div>
					</li>
				</ul>
				
				<form class="form-inline">
					<input class="form-control mr-sm-2" type="search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar </button>
				</form>

				<form class="form-inline" action="#" th:action="@{/logout}" method="post">					
                   	<button class="btn btn-danger my-2 my-sm-0" type="submit">Sair </button>
                </form>
				
			</div>
		</nav>
	</header>
	
	<!-- Conteúdo da Pagina-->
	<main role="main" class="container">
	<!-- CONTEUDO A SER SUBSTITUÍDO -->
   		<div class="container" >
		    <div layout:fragment="content"></div>	
		</div>
	</main>
	
	<!-- Footer -->
	<footer class="footer bg-dark">
      <div class="container">
        <span class="text-light">2021 - Sistema de Agenda Escolar</span>
      </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>