<!DOCTYPE html>
<html	
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    
	<!-- Bootstrap CSS -->
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
	
	<!-- Icons Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
	<!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

	<!-- FavIcon -->	
	<link rel="icon" href="image/book.ico">

	<title>Sistema de Agenda Escolar</title>
</head>

<body>
	<!-- Navegação -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0378C5">
			<a class="navbar-brand" href="/">Sistema de Agenda</a>
		</nav>
	</header>
	
	<!-- Conteúdo da Pagina-->
	<main role="main" class="container">
	<!-- CONTEUDO A SER SUBSTITUÍDO -->
   		<div class="container" >
		    <div layout:fragment="content"></div>	
		</div>
	</main>
	<!-- Footer -->
	<footer class="footer bg-dark">
      <div class="container">
        <span class="text-light">2021 - Sistema de Agenda Escolar</span>
      </div>
    </footer>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>