<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:replace="head :: head"></div>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
<body>
	<div th:replace="menu :: menu"></div>
	<main class="container">
		<div class="bg-light p-5 rounded">
			<div class="card">
				<div class="card-body">

					<h3>Lista de Usuários</h3>
					<table class="table table-bordered table-hover">
						<thead class="thead thead-bordered thead-light">
							<tr>
								<th>Id</th>
								<th>Email</th>
								<th>Permissao</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario : ${userList}">
								<td th:text="${usuario.id}"></td>
								<td><a th:href="@{/usuario/edit/{id}(id=${usuario.id})}"
									th:text="${usuario.email}"></a></td>
								<td th:each="role: ${usuario.roles}" th:text="${role.nome}">

								</td>
								<td>
									<div class="btn-group">
										<a th:href="@{/usuario/editUsuario/{id}(id=${usuario.id})}"
											class="btn btn-sm btn-warning bg-orange mr-2" title="Editar"><i
											class="fas fa-user-edit"></i></a><a
											th:href="@{/usuario/delete/{id}(id=${usuario.id})}"
											class="btn btn-sm btn-danger bg-red mr-2 delBtn"
											title="Delete Usuario."><i class="far fa-trash-alt"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}" type="text/javascript"></script>
		<script th:src="@{/js/scripts.js}" type="text/javascript"></script>
	</main>
	<div th:replace="footer :: footer"></div>
</body>
</html>