<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menulogin :: menulogin"></div>

	<main class="container">
		<div class="bg-light p-5 rounded">

			<div class="row justify-content-center align-items-center" style="height:60vh">
				<div class="col-5">
					<div class="card">
						<article class="card-body">
							<h4 class="card-title text-center mb-4 mt-1">Recuperar Login</h4>
							<p class="text-success text-center">Digite seu Email</p>
							<form action="#" th:action="@{/forgot-password}" th:object="${user}" method="post">
							
								<div class="row">
									<div class="col">
										<label for="email">Email</label>
										<input class="col" th:field="*{email}" type="text" name="email"></input>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col">
										<input type="reset" value="Clear" style="float:right; margin-left:15px;"/>
										<input type="submit" value="Reset Password" style="float:right; margin-left:15px;"></input>
									</div>
								</div>								
							</form>
						</article>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="footer :: footer"></div>

</body>
</html>