<head th:fragment="head">

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>SGTA - Sistema de Gerenciamento de Tarefas e Atividades</title>

<!-- Mobile Specific Metas
================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="project">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta http-equiv="Content-Type" content="text/html;"/>	

<!-- Favicon
================================================== -->
<link rel="icon" type="image/ico" href="/images/book.ico">

<!-- CSS
================================================== -->
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- Icons Material -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>