<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menulogin :: menulogin"></div>

	<main class="container">
		<div class="bg-light p-5 rounded">

			<div class="row justify-content-center align-items-center">
				<div class="col-5">
					<div class="card">

						<div th:if="${param.error}">
							<div class="alert alert-info">Usuário ou senha inválidos!</div>
						</div>

						<div th:if="${param.logout}">
							<div class="alert alert-info">Deslogado com sucesso!</div>
						</div>

						<article class="card-body">
							<h4 class="card-title text-center">Fazer Login</h4>
							<p class="text-success text-center">Bem Vindo</p>

							<form name="f" th:action="@{/login}" method="post">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i
												class="material-icons">person</i></span>
										</div>
										<input id="username" name="username" class="form-control"
											type="text">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> <i
												class="material-icons">lock</i></span>
										</div>
										<input class="form-control" type="password" id="password"
											name="password">
									</div>
								</div>

								<div class="row">
									<div class="col">
										<button type="submit" class="btn btn-primary btn-block">Entrar</button>
									</div>
								</div>

								<div class="row">
									<div class="col text-center">
										<a href="/forgot-password" class="btn">Esqueceu a senha?</a>
									</div>
								</div>
								<div class="row">
									<div class="col text-center">
										<input type="checkbox" id="remember-me" name="remember-me" />
										<label for="remember-me">Lembrar?</label>
									</div>
								</div>

								<a href="/register">Crie sua conta</a>

							</form>
						</article>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="footer :: footer"></div>
</body>
</html>