<div th:fragment="menulogin">
	<meta charset="utf-8">

	<div id="top-bar" class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8">
					<ul class="top-info text-center text-md-left">
						<li><p class="info-text" style="color: white;">SGTA - Sistema de Gerenciamento de Tarefas e Atividades</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<header class="header-one">
		<div class="header">
			<div class="container">
				<div class="logo-area">
					<div class="row align-items-center">
						<div
							class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
							<a class="d-block" href="index.html"> <span><h1>SGTA</h1></span>
								<!-- <img loading="lazy" src="images/logo.png" alt="Constra"> -->
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<!-- Javascript Files
	================================================================= -->

<!-- initialize jQuery Library -->
<script src="/js/jquery.min.js"></script>

<!-- Bootstrap jQuery -->
<script src="/css/bootstrap.min.js" defer></script>
<script src="/css/bootstrap.bundle.min.js" defer></script>

<!-- Template custom -->
<script src="/js/script.js"></script>

<!-- ============================================================ -->
