<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menulogin :: menulogin"></div>

	<main class="container">
		<div class="bg-light p-5 rounded">

			<div class="row justify-content-center align-items-center">
				<div class="col-5">
					<div class="card">

						<h2>Enter nova senha:</h2>
						<form action="#" th:action="@{/reset-password}"
							th:object="${user}" method="post">
							<table>
								<tr>
									<td><label for="email">Email</label></td>
									<td><input th:field="*{email}" type="text" name="email"
										readonly></input></td>
								</tr>
								<tr>
									<td><label for="senha">Password</label></td>
									<td><input th:field="*{senha}" type="password"
										name="senha"></input></td>
								</tr>
								<tr>
									<td><input type="reset" value="Clear" /></td>
									<td><input type="submit" value="Submit"></input></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="footer :: footer"></div>
</body>
</html>
