<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div th:replace="head :: head"></div>
<body>
	<div th:replace="menulogin :: menulogin"></div>

	<main class="container">
		<div class="bg-light p-5 rounded">

			<div class="container text-center">
				<h3>Sua senha foi trocada com sucesso.</h3>
				<h4>
					<a th:href="@{/login}">Click aqui para Login</a>
				</h4>
			</div>

		</div>
	</main>

	<div th:replace="footer :: footer"></div>
</body>
</html>
